@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    display: none;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.category_scroller::-webkit-scrollbar-thumb {
    display: none;
}

.category_scroller::-webkit-scrollbar-track {
    display: none;
}

.multiline-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
}

/* .category_scroller::-webkit-scrollbar-button {
    background-color: gray;
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
} */
